/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
  }

  .basic-container {
    padding: 5px;
  }

  .version-info {
    font-size: 8pt;
    float: right;
  }
